
basic_operations_with_angles /.ipynb_checkpoints/angles-checkpoint.ipynb
generating_pythagorean_triples/.ipynb_checkpoints/generating_pythagorean_triples-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
basic_operations_with_angles/.ipynb_checkpoints/basic_operations_with_angles-checkpoint.ipynb
hyperfocus/.ipynb_checkpoints/hyperfocus-checkpoint.md
solving_hyperfocus/.ipynb_checkpoints/solving_hyperfocus-checkpoint.md
predict_number_of_divisors/.ipynb_checkpoints/predict_number_of_divisors-checkpoint.ipynb
.DS_Store
fire_department_missions/.ipynb_checkpoints/missions-checkpoint.ipynb
